{{ define "partials/head" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bible</title>
<link rel="stylesheet" href="/static/styles/index.css">
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/studious-jesus.png">
<link rel="icon" type="image/png" href="/static/images/studious-jesus.png">
{{ end }}
