:root {
    --light: #eee;
    --dark: #222;
    --blue: #4A90E2;
    --blue-hover: #5ea6f8;
}

body {
    font-size: 11px;
    background-color: var(--dark);
    color: var(--light);
    font-family: "Roboto", Arial, "Trebuchet MS", sans-serif;
    text-align: center;
    margin: 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: var(--blue);
    transition: 0.2s;
}

a:hover {
    text-decoration: underline;
    color: var(--blue-hover);
}

ul {
    text-align: left !important;
    list-style-type: none;
    margin: 0.5em, 1em;
    max-width: 300px;
    font-size: 1.4em;
}

li {
    margin-bottom: 0.5em;
}

form {
    margin-top: 1em;
}

input {
    width: 70%;
    font-size: 1.5em;
    padding-left: 1em;
    border-radius: 0.4em;
    background-color: #333;
    border-color: var(--dark);
    outline: none;
    box-shadow: none;
    color: var(--light);
}

input::placeholder {
    color: #999;
}

button {
    background-color: var(--blue);
    color: var(--light);
    font-size: 1.5em;
    border-radius: 0.4em;
    outline: none;
    box-shadow: none;
    border-color: var(--dark);
    padding: 20em, 1em;
    transition: 0.2s;
}

button:hover {
    background-color: var(--blue-hover);
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;
}

#submit-btn {
    width: 50px;
    height: 30px;

}

#pagination {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}

#content {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 15px;
        max-width: 1000px;
    }
    
    h1 {
        font-size: 3em;
        margin-bottom: 2em;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }

    input {
        width: 80%;
    }

    ul {
        max-width: 1000px;
        font-size: 1.2em;
    }
}
